*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

:root{
    /* Background Color */
    --bg-primary-color: #111;
    --bg-fill-color: #f3f3f3;

    /* Text colors */
    --text-primary-color: #fff;

    /* Spacing Variable */
    --space-xs:4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Colors */
    --block-border-color: #212121;
    --primary-border-color: #2d2d2d;

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: Arial, Helvetica, sans-serif
}

.btn{
    font-size: 16px;
    background-color: #fff;
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--space-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

main, section{
    width: 100%;
    height: 100vh;
}

section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--primary-border-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--primary-border-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr))
}

.block{
    /* height: 30px;
    width: 30px; */
    border: 0.5px solid var(--block-border-color);
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-image: url("Apple.png");
    background-size: cover;
    background-position: center;
    
}

.modal{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #1111114b;
    backdrop-filter: blur(4px);
    display: block;
}

.modal .start-game{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-lg);
}

.modal .restart-game{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-lg);
    display: none;
}

.mobile-btns{
    display: none;
}


@media (max-width: 600px) {

    .mobile-btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: var(--space-lg);
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding: var(--space-sm) var(--space-2xl);
    }
    .board{
        /* Prevent flex from forcing full height and respect the percentage */
        flex: 0 0 70%;
        height: 70%;
        max-height: 70%;
    }

    main{
        height: 70vh;
    }
    .arrow{
        height: 50px;
        width: 50px;
        background-color: #333;
        border-radius: var(--border-radius-sm);
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: var(--space-sm);
    }

    #up-down{
        display: flex;
        flex-direction: column;
        gap: var(--space-2xl);
    }
}